

* {
	position: relative;
}

body {
	position: relative;
	display: block;
	text-align: left;
	margin: 0 auto;
	width : 240px;
	height: 240px;
	max-width : 240px; 
}

.grid-container {
	margin: 0px;
	height: 240px;
	width: 240px;
	max-width : 240px; 
}

.grid-container *{
	box-sizing: border-box; 
}

[class*='row-'] {
	position: relative;
	float: left;
	width: 100%;
	min-height: 48px;
}

.row-1{ height: 48px; }
.row-2{ height: 96px; }
.row-3{ height: 144px;   }
.row-4{ height: 192px;   }
.row-5{ height:  240px;   }

.row:before, 
.row:after {
	content:"";
	display: table ;
	clear:both;
}

[class*='col-'] {
	position: relative;
	float: left;
	min-height: 1px; 
	width: 33.33%; 
	padding: 2px;
}

.col-1{ width: 33.33%; }
.col-2{ width: 50%; }
.col-3{ width: 100%;   }

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.horizontal-center {
	text-align: center;
}